/Visitor.class
/VisitorEnemigo.class
/VisitorExplosivo.class
/VisitorLoot1.class
/VisitorLoot2.class
/VisitorLootEspecial1.class
/VisitorPared.class
/VisitorPersonajeP$1.class
/VisitorPersonajeP$2.class
/VisitorPersonajeP.class
/VisitorPocionV.class
